.container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(120px,1fr));
    gap: 20px;
    max-width: 800px;
    margin: auto;

}
.box{
    height: 120px;
    /* width: 120px; */
    background-color: rgb(124, 248, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    color: rgb(37, 112, 233);
    font-weight: bold;
    transition: 0.35s ease;
    
}
.box.Rotate:hover{
    transform: scale(1,1.2);
    background-color: rgb(181, 135, 74);
    background-image: url("images.jpg");
    background-size: cover;
    box-shadow: 2px 2px 2px grey;
}
.box.Scale:hover{
    transform: scale(1,1.2);
    background-color: rgb(181, 135, 74);
    background-image: url("images\ \(2\).jpg");
    background-size: cover;
    box-shadow: 2px 2px 2px grey;
}
.box.Translate:hover{
    transform: scale(1,1.2);
    background-color: rgb(181, 135, 74);
    background-image: url("images.jpg");
    background-size: cover;
    box-shadow: 2px 2px 2px grey;
}  
.box.Skew:hover{
    transform: scale(1,1.2);
    background-color: rgb(181, 135, 74);
    background-image: url("images\ \(4\).jpg");
    background-size: cover;
    box-shadow: 2px 2px 2px grey;
}    
.box.Combined:hover{
    transform: scale(1,1.2);
    background-color: rgb(181, 135, 74);
    background-image: url("images\ \(3\).jpg");
    background-size: cover;
    box-shadow: 2px 2px 2px grey;
}      




